.error_field {
  font-size: 1.5rem;
  color: var(--error-color);
}
.submit_color {
  background-color: var(--submit-color);
}
.blank_background {
  background-color: var(--blank-color);
}
.form_border {
  border: var(--form-border);
}

/* form */
.form_layout {
  width: 100%;
  max-width: 45rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.form_layout div {
  width: 100%;
  max-width: 40rem;
  margin: 0 auto;
  position: relative;
  border: 0.25rem solid var(--sub-heading-color);
  border-radius: 0.5rem;
}
.form_layout div:last-child,
.form_layout div:first-child {
  border: none;
}

.form_layout div label {
  position: absolute;
  top: -0.95rem;
  left: 1.5rem;
  font-size: 1.5rem;
  padding: 0 0.25rem;
}

.form_layout div input {
  padding: 1rem;
  width: 100%;
  outline: none;
  border-radius: 0.5rem;
  border: none;
}

.form_layout button {
  width: 100%;
  max-width: 12rem;
  padding: 1.15rem;
  border-radius: 0.5rem;
  border: none;
  color: var(--blank-color);
  font-size: 1.5rem;
  font-family: roboto;
}

.form_info {
  padding: 2rem 1rem 0 1rem;
}
