.error_bubble {
  background-color: var(--error-bubble-color);
  width: 100%;
  max-width: 24rem;
  padding: 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transition: all 0.5s ease-out;
  box-shadow: 1px 5px 5px rgba(255, 227, 227, 1);
  float: right;
}
.error_bubble p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--blank-color);
}
.error_bubble p:first-child {
  margin-bottom: 1rem;
}
.remove_bubble {
  transform: translateX(240px);
}
