.error_bubble {
  background-color: var(--error-bubble-color);
  width: 100%;
  max-width: 24rem;
  padding: 2rem;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  transition: all 0.5s ease-out;
  box-shadow: 1px 5px 5px rgba(255, 227, 227, 1);
  float: right;
}
.error_bubble p {
  font-size: 2rem;
  font-weight: 300;
  color: var(--blank-color);
}
.error_bubble p:first-child {
  margin-bottom: 1rem;
}
.remove_bubble {
  transform: translateX(240px);
}

/* border-bubble */
.border_bubble {
  background-color: var(--error-bubble-color);
  width: 100%;
  max-width: 30rem;
  padding: 2rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 5rem 0;
  transition: all 1s ease;
}
.edit_bubble {
  background-color: var(--edit-bubble-color);
}
.border_bubble p {
  color: var(--blank-color);
}
.edit_bubble a {
  background-color: var(--edit-color);
}

.success_bubble {
  background-color: var(--success-bubble-color);
}
.success_color {
  background-color: var(--success-color);
}

.load_bubble {
  transform: translateX(-30rem);
  /* transition: all 1.5; */
}

.load_in {
  transform: translateX(0);
}
